@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 356px;
  --breakpoint-sm: 400px;
  --breakpoint-smd: 532px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;

  --text-rs: 13px, 18px;

  --color-background: #111111;
  --color-foreground: #eeeeee;

  --color-brand-1: oklch(93.8% 0.1421 142.5);
  --color-brand-2: oklch(85% 0.2753 142.5);
  --color-brand-3: oklch(83.5% 0.2753 142.5);
  --color-brand-4: oklch(86.6% 0.2947 142.5);
  --color-brand-5: oklch(52.5% 0.1664 142.5);
  --color-brand-6: oklch(46.5% 0.1413 142.5);
  --color-brand-7: oklch(41.2% 0.1217 142.5);
  --color-brand-8: oklch(36.4% 0.104 142.5);
  --color-brand-9: oklch(31.7% 0.0856 142.5);
  --color-brand-10: oklch(26.7% 0.0614 142.5);
  --color-brand-11: oklch(20.8% 0.0321 142.5);
  --color-brand-12: oklch(17.8% 0.0237 142.5);

  --animate-load: load 1.2s linear infinite;
  --animate-skeleton: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes load {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.15;
    }
  }
  @keyframes pulse {
    50% {
      opacity: 0.5;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (width >= --theme(--breakpoint-xs)) {
    max-width: none;
  }
  @media (width >= 1536px) {
    max-width: 1536px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
